
<html>
<head>
   <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script> 
    <script src="angular.js"></script>
    <!-- FULL CODE HERE https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.js
    -->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/v4-shims.css">
    <script src="app.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css">
    
   
</head>

    
    
    <body>
        
        <h1> This to do list, will be made purely with HTML no frameworks. </h1>
        
        
        <span> im a span!  </span>
        <h2>Specs:</h2>
         <p> im a paragraph</p>
        
    <div id="wrapper">
         <ul id="todolist"> 
<!--             <li id="d"><span>SPAN<i class="fas fa-trash-alt"></i></span>test list item</li>-->
<!--             <li id="d"><span>REMOVE</span>test list item</li>-->
            <!-- <tr><td>Title</td><td>Status</td><td>Due date</td></tr> -->
        </ul>
      
    </div>
        <br>
          <button id="undoBtn">Undo last action</button>
      
        
        <!--        <ul>
        <li>Clickable thing which turns into a text box or reveals one, so users can add new todos. </li>
        <li> once they add to do and hit return, it does the same below it, for fast multi adds/ </li></ul>
    
        <ul id="todolist"> 
            <tr><td>Title</td><td>Status</td><td>Due date</td></tr>
        </ul> -->
    </body>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!-- old angular body 

<body ng-app="myApp"> 
    <div ng-controller="mainController">
    <h1> My magical Todo list app</h1>

    <table>
        <tr ng-repeat="do in todos">
            <td><input type="text" name="title" value="{{do.title}}"/></td>
            <td><input type="text" name="due" value="{{do.due}}"/></td>
            <td><input type="checkbox" ng-model="do.done" name="done" /></td>
        </tr>
     
    </table>

    </div>
</body>

-->

</html>
